/* All styles for your header Components live here */

.headerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px;
    font-family: sans-serif;
    width:650px;
  }
  
.title{
    margin-left:10px;
    padding-right:10px;
    display: flex;
    flex-direction: row; 
    
}
.title h1{
    font-weight: bold;
    padding-right:10px;
    
}
.title p {
    padding-top:1px;
    padding-right:10px;
    color: grey;
    font-size: 13px;
}


  .thumbnail img{
    width:65px;
    padding-right: 1px;
  }

  .content{
      padding-top:10px;

  }